<nav class="bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 flex-container ">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between h-16">
            <div class="flex items-center">
                <!-- Logo (if available) -->
                <div class="flex-shrink-0 text-white">
                    Music App
                </div>
            </div>
            <!-- Navigation Links -->
            <div class="hidden md:block">
                <div class="ml-4 flex items-center md:ml-6">
                    <a href="{% url "info" %}" class="text-white px-3 py-2 rounded-md text-sm font-medium">Home</a>
                    <a href="{% url "add" %}" class="text-white px-3 py-2 rounded-md text-sm font-medium">Add Music</a>
{#                    <a href="{% url "delete" pk %}" class="text-white px-3 py-2 rounded-md text-sm font-medium">Music#}
{#                        Info</a>#}
                    <a href="{% url "Main" %}" class="text-white px-3 py-2 rounded-md text-sm font-medium">Music
                        Info</a>

                </div>
            </div>
        </div>
    </div>

    <!-- Mobile Menu Button (hidden on larger screens) -->
    <div class="md:hidden">
        <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
            <a href="#" class="text-white block px-3 py-2 rounded-md text-base font-medium">Home</a>
            <a href="#" class="text-white block px-3 py-2 rounded-md text-base font-medium">Add Music</a>
            <a href="#" class="text-white block px-3 py-2 rounded-md text-base font-medium">Delete Music</a>
            <a href="#" class="text-white block px-3 py-2 rounded-md text-base font-medium">Music Info</a>
        </div>
    </div>
</nav>