<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Music</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
{% include "includes/navbar.html" %}
{% include "Main/messages.html" %}
<!-- Content Area -->
<div class=" bg-gradient-to-r from-indigo-500 from-10% via-sky-500 via-30% to-emerald-500 to-90% text-center flex flex-col justify-between">
    <div class="max-w-md mx-auto space-y-8">
        <div>
            <h2 class="mt-6 text-3xl font-extrabold text-gray-900">
                Add Music
            </h2>
        </div>
        <form class="mt-8 space-y-6" method="post" action="">
            {% csrf_token %}
            <div class="rounded-md shadow-sm -space-y-px">
                <div>
                    <label for="id_title" class="sr-only">Title</label>
                    <input id="id_title" name="title" type="text" required autocomplete="off"
                           class="input-field" placeholder="Title">
                </div>
                <div>
                    <label for="artist" class="sr-only">Artist</label>
                    <input id="artist" name="artist" type="text" required autocomplete="off"
                           class="input-field" placeholder="Artist">
                </div>
                <div>
                    <label for="album" class="sr-only">Album</label>
                    <input id="album" name="album" type="text" required autocomplete="off"
                           class="input-field" placeholder="Album">
                </div>
                <div>
                    <label for="category" class="sr-only">Category</label>
                    <input id="category" name="category" type="text" required autocomplete="off"
                           class="input-field" placeholder="Category">
                </div>
                <div>
                    <label for="release_date" class="sr-only">Release Date</label>
                    <input id="release_date" name="release_date" type="date" required class="input-field"
                           placeholder="Release Date">
                </div>
            </div>
            <div class="flex justify-center space-x-4">
                <input type="submit" class="button-primary" value="Add Music">
            </div>
        </form>
{#        {% if messages %}#}
{#            {% for message in messages %}#}
{#                <div class="alert alert-{{ message.tags }}">#}
{#                    {{ message }}#}
{#                </div>#}
{#            {% endfor %}#}
{#        {% endif %}#}
    </div>
    <a href="{% url "info" %}" class="text-white px-3 py-2 rounded-md text-sm font-medium">Home</a>
</div>
{% include "includes/foot.html" %}
</body>
</html>